#content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
}
#header,
#footer {
  background-color: antiquewhite;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

#main {
  display: flex;
  justify-content: center;
  flex: auto;
}
#footer {
  font-weight: bold;
  justify-self: end;
}

ul {
  text-align: center;
  font-size: large;
  padding: 0;
  list-style: none;
}
.menuTittle {
    font-weight: bold;
    margin: 0.2rem;
}

.headerNav {
  background-color: aliceblue;
  padding: 1rem 3rem;
  border-radius: 5px;
}
